
<div class="pd-bottom-footer">


  <h1 class="pd-lateral">Cars</h1>

  <app-filter
    [data]="originalCars"
    (filter)="setFilteredCars($event)"
  ></app-filter>

  <app-sort [data]="filteredCars" [sortParams]="carSortParams" (sort)="setSortedCars($event)"></app-sort>

  <app-table [data]="sortedCars" [columnMetadata]="carsMetadata" (sort)="triggerCarSort($event)"></app-table>



  <h1 class="pd-lateral">Movies</h1>

  <app-filter
    [data]="originalMovies"
    (filter)="setFilteredMovies($event)"
  ></app-filter>

  <app-sort [data]="filteredMovies" [sortParams]="movieSortParams" (sort)="setSortedMovies($event)"></app-sort>

  <app-table [data]="sortedMovies" [columnMetadata]="moviesMetadata" (sort)="triggerMovieSort($event)"></app-table>


</div>
