
<div class="pd-bottom-footer">


  <h1 class="pd-lateral">Cars</h1>

  <app-filter
    [data]="originalCars"
    (filter)="setFilteredCars($event)"
  ></app-filter>

  <app-sort></app-sort>

  <app-table [data]="filteredCars" [columnMetadata]="carsMetadata"></app-table>



  <h1 class="pd-lateral">Movies</h1>

  <app-filter
    [data]="originalMovies"
    (filter)="setFilteredMovies($event)"
  ></app-filter>

  <app-sort></app-sort>

  <app-table [data]="filteredMovies" [columnMetadata]="moviesMetadata"></app-table>


</div>
